/* General */

* {
  font-family: Geneva, Arial, Helvetica, sans-serif; 
  position: relative;
}

a:active{
  top: 1px;
}

body {
  display: flex;
  flex-flow: column;
  position: relative;
  
  box-sizing: border-box;
  padding: 3em;
  height: 100vh;
  width: 100%;
  margin: 0;
}

/* Navigation bar */
#site_navbar {
  flex: 0 1 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3em; 
}

@keyframes navbar_link_hover {
  from {
    color: black;
  }
  to {
    color: dimgray;
  }
}


.site_navbar_link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 10px;
  margin: 1em;
}
.site_navbar_link:target {
  text-decoration: overline;
}

.site_navbar_link:hover {
  animation-name: navbar_link_hover;
  animation-duration: 100ms;
  color: dimgray;
}

#site_logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  box-sizing: content-box;
}

#site_logo_container p {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 1.2em;

}

#site_navbar_logo {
  padding: 0px;
  margin: 0;
  font-size: 2.5em;
  margin-right: 1em;
}

/* Site content */

#site_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: calc(100% - 11em);
  flex-flow: row;
}


/* labeled_button */
.labeled_button {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  border: none;
  border-radius: 50%;
  padding: 2%;
}

.labeled_button span {
  width: max-content;
  height: max-content;
  text-align: center;
}