#site_content {
  justify-content: center;
}

#info_content{
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  border: 1px black solid;
}


#info_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#info_head span {
  font-size: 5em;
}