:root {
	--conf-selection-width: 25em; /* Example width */
  }


#conf_selection_container {
	/* height: calc(100%  - 8em); */
	display: flex;
	flex-direction: column;
}



.conf_selection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: var(--conf-selection-width);
	padding: 1em;
	margin-bottom: 1.5em;
	border: 1px black solid;
}

.conf_selection div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.conf_selection div div {
	height: 2px;
	width: 20px;
	background-color: black;
	margin: 1em;
}

#env_selector {
	background-color: blanchedalmond;
}

#simulation_conf_submit {
	width: 100%;
	border: 1px black solid;
	margin-bottom: 2em;
}

#add-hardwareprofile {
	border: 1px black solid;
	padding: 0.5em 4em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: block;
}

#computed_overview {
	width: 100%;
	margin-left: 5em;
	/* max-height: 100%;
  overflow-y: auto; */
}

#computed_overview table {
	border-collapse: collapse;
	border: 1px gray solid;
	table-layout: fixed;
	width: 100%;
}

#computed_overview #table_header th {
	border-bottom: 2px black solid;
}

#computed_overview th div {
	border: 1px black solid;
	padding: 6px 15px; /* Adjust padding as needed */
	margin: 7px;
	display: inline-block;
}

#computed_overview th .no_border {
	border: none;
}

#computed_overview td {
	padding: 6px 15px; /* Adjust padding as needed */
	margin: 7px;
	text-align: center;
}

#computed_overview th:first-child {
	width: 70px;
}

#computed_overview th:last-child {
	width: 8em;
}

tr.even {
	background-color: rgb(240, 240, 240);
}

#btn_submit {
	/* margin-top: auto; */
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.apply,.delete {
	/* margin: 0px;
	padding: 1px;
	cursor: pointer;
	border: 1px black solid;
	border-radius: 2px;
	cursor: pointer;
	font-size: small; */
	border: 1px black solid;
	border-radius: 2px;
	background-color:transparent;
	cursor: pointer;
	display: inline-block;
	padding: 3px;
}
.apply {
	/* background-color: rgb(22, 151, 22); */
	margin-right: 5px;
	margin-left: auto;
}
.delete {
	/* background-color: red; */
	margin-right: auto;
}

input[type="checkbox" i] {
	width: unset;
}

/* TODO: If rows exceed page make table scrollable */


#submit_settings{
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	width: 100%;
	margin-bottom: 0em;
	margin-top: auto;
	border: 1px black solid;
	box-sizing: border-box;
}

#submit_settings div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

#submit_settings h4 {
	margin: 1em 1em 0em 1em;
}

