{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'info.css' %}">
{%endblock%}


{% block content %}
<form action="{% url url_link %}" method="{{request.method}}" id='info_content'>
  {% for key, value in request.POST.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
  {% endfor %}
  {% for key, value in request.GET.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
  {% endfor %}
  <div id='info_head'>
    <span class="material-symbols-outlined">
      {% if info_type == 'error' %}
        error
      {% elif info_type == 'success' %}
        check_circle    
      {% else  %}
        info_i
      {% endif %}
    </span>
    <h1>{{ header }}</h1>
  </div>
  <h3 id="info_message">{{ message }}</h3>
  <button type="submit">Ok</button>
<form>
{% endblock %}

