{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hardware.css' %}">
{%endblock%}

{% block content %}
<div class="page_panel">
  <div id='hardware_search'>
    <input type="text" name="search" value="{{request.GET.search}}">
    <span>Search</span>
    <button type="submit" action="/hardware"><span class="material-symbols-outlined">search</span></button>
  </div>
  <div id='hardware_container'>
    {%for hardware in hardware_profiles %}
      <form class='hardware_entry'  action="configure/" method="get">
        <p>{{ hardware.name }}</p>
        <button class="icon_button" name="hardware_id" value={{hardware.uuid}}><span class="material-symbols-outlined">edit</span></button> 
      </form>
    {% empty %}
      <p id="no_profiles">No hardware profiles found</p>
    {% endfor %}
  </div>
</div>
<form class='page_panel'  action='add/' method="post">
  {% csrf_token %}
  <div id="hardware_name">
    <input name="name">
    <span>Name</span>
  </div>
  <div id="hardware_description">
    <textarea name="description"></textarea>
    <span>Description</span>
  </div>
  <div id="hardware_connection">
    <input name="connection">
    <span>Connection</span>
  </div>
  <button id="add_hardware_button" type='submit'>Submit</button>
</form>
{% endblock %}
