{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hardware.css' %}">
{%endblock%}

{% block content %}
<div id="hardware_list">
  <form id='hardware_search' action="/hardware">
    <input type="text" name="search" value="{{request.GET.search}}">
    <span>Search</span>
    <button type="submit"><span class="material-symbols-outlined">search</span></button>
  </form>
  <div id='hardware_container'>
    {%for hardware in hardware_profiles %}
      <form class='hardware_entry' action="delete/" method="post">
        <p>{{ hardware.name }}</p>
        <p>{{ hardware.uuid }}</p>
        <button class="icon_button" name="hardware_id" value={{hardware.uuid}}><span class="material-symbols-outlined">delete</span></button>
      </form>  
    {% empty %}
      <p id="no_profiles">No hardware profiles found</p>
    {% endfor %}
  </div>
</div>
<form action='add/' method="post" id='add_hardware_container'>
  {% csrf_token %}
  <div id="add_hardware_name">
    <input required name="name"></input>
    <span>Name</span>
  </div>
  <div id="add_hardware_description">
    <textarea fixed=True required name="description"></textarea>
    <span>Description</span>
  </div>
  <div id="add_hardware_connection">
    <input required name="connection"></input>
    <span>Connection</span>
  </div>
  
  <button type='submit'>Submit</button>
</form>
{% endblock %}
