{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hardware.css' %}">
{%endblock%}

{% block content %}
<div id="hardware_list">
  <div id='hardware_search'>
    <input></input>
    <button><span class="material-symbols-outlined">search</span></button>
  </div>
  <div id='hardware_container'>
    {%for name in hardware_profiles %}
      <div class='hardware_entry'>
        <p>{{ name }}</p>
        <button><span class="material-symbols-outlined">delete</span></button>
      </div>  
    {% empty %}
      <p id="no_profiles">No hardware profiles found</p>
    {% endfor %}
  </div>
</div>
<form action='add' id='add_hardware_container'>
  {% csrf_token %}
  <div id="add_hardware_name">
    <input required placeholder=" "></input>
    <span>Name</span>
  </div>
  <div id="add_hardware_description">
    <textarea fixed=True required placeholder=" "></textarea>
    <span>Description</span>
  </div>
  <div id="add_hardware_connection">
    <input required placeholder=" "></input>
    <span>Connection</span>
  </div>
  
  <button type='submit'>Submit</button>
</form>
{% endblock %}
