#site_content {
  flex-direction: column;
  align-items: center;


}
#graph_container {
  position: relative;
  box-sizing: border-box;
  height: 80%;
  width: 70%;
}

/* Simulation configuration selector*/
#sim_conf_menu {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.sim_conf {
  padding: 2px 12px;
  display: flex;
  justify-content: space-around;
  width: 20em;
}

.sim_conf p {
  width: max-content;  
  z-index: -1;
  width: 6em;

}


#selected_conf {
  border: 2px solid black;
  padding: 0 10px;

}

.sim_conf p + div {
  z-index: -10;
  opacity: 0;
}


#selected_conf p + div {
  z-index: initial;
  opacity: 1;
}

#sim_confs {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sim_conf {
  position: relative;
  font-weight: bold;
}


.hidden_select_button {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



#sim_conf_menu {
  position: relative;
}

#sim_confs .dropdown {
  width: 10em;
}
.conf_selection_dropdown {
  width: 5em !important; 
}
.conf_selection_dropdown .dropbtn {
  border: 1px black solid;
  text-align: center;
}

.conf_selection_dropdown .dropbtn {
  text-align: center;
}

.conf_selection_dropdown .dropbtn::after{
  display: none;
}


.conf_selection_dropdown:hover .dropbtn::after{
  transform: none;
}

.sim_conf {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.sim_conf input {
  width: 50px;
  height: 30px;
} 
