#site_content {
  flex-direction: column;
  width: 40em;
}

#account_search {
  width: 100%;
  display: flex;
  flex-direction: row;
}


#account_container {
  overflow: auto;
  height: calc(100%  - 8em);
}

.account_entry {
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new_account_div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#account_search input,
#new_account_div input {
  width: 100%;
  height: 4em;
}


.account_entry .icon_button:hover {
  transition-duration: 0.2s;
  color: red;
}