{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'simulation_view.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{%endblock%}

{% block content %}
<input type="hidden" name="simulator_filter" value="{{ request.GET.simulator_filter }}">
<input type="hidden" name="hardware_filter" value="{{ request.GET.hardware_filter }}">

<input type="hidden" name="qubits_min" value="{{ qubits_min }}">
<input type="hidden" name="qubits_max" value="{{ qubits_max }}">

<input type="hidden" name="depth_min" value="{{ depth_min }}">
<input type="hidden" name="depth_max" value="{{ depth_max }}">

<input type="hidden" name="shots_min" value="{{ shots_min }}">
<input type="hidden" name="shots_max" value="{{ shots_max }}">
<!-- Configuration -->
<input type="hidden" name="selected_conf" value="{{ request.GET.selected_conf }}">
<div id="sim_confs">
  <div class='sim_conf' {% if request.GET.selected_conf|default:"qubits" == "qubits"%} id='selected_conf' {%endif%}>
    <button type="submit" class="hidden_select_button" name="selected_conf" value="qubits"></button>
    <p>Qubits</p>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ qubits_min }}</div>
      <div class="dropdown-content">
        {% for qubits_option in qubits_values %}
          <button name="qubits_min" type="submit" value="{{qubits_option}}">{{qubits_option}}</button>    
        {% endfor %}
      </div>
    </div>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ qubits_max }}</div>
      <div class="dropdown-content">
        {% for qubits_option in qubits_values %}
          <button name="qubits_max" type="submit" value="{{qubits_option}}">{{qubits_option}}</button>    
        {% endfor %}
      </div>
    </div>
  </div>
  <div class = 'sim_conf' {% if request.GET.selected_conf == "depth" %} id='selected_conf' {%endif%}>
    <button type="submit" class="hidden_select_button" name="selected_conf" value="depth"></button>
    <p>Depth</p>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ depth_min }}</div>
      <div class="dropdown-content">
        {% for depth_value in depth_values %}
          <button name="depth_min" type="submit" value="{{depth_value}}">{{depth_value}}</button>    
        {% endfor %}
      </div>
    </div>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ depth_max }}</div>
      <div class="dropdown-content">
        {% for depth_value in depth_values %}
          <button name="depth_max" type="submit" value="{{depth_value}}">{{depth_value}}</button>    
        {% endfor %}
      </div>
    </div>
  </div>
  <div class = 'sim_conf' {% if request.GET.selected_conf == "shots"%} id='selected_conf' {%endif%}>
    <button type="submit"  class="hidden_select_button"name="selected_conf" value="shots"></button>
    <p>Shots</p>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ shots_min }}</div>
      <div class="dropdown-content">
        {% for shots_value in shots_values %}
          <button name="shots_min" type="submit" value="{{shots_value}}">{{shots_value}}</button>    
        {% endfor %}
      </div>
    </div>
    <div class="dropdown conf_selection_dropdown">
      <div class="dropbtn">{{ shots_max }}</div>
      <div class="dropdown-content">
        {% for shots_value in shots_values %}
          <button name="shots_max" type="submit" value="{{shots_value}}">{{shots_value}}</button>    
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Environments -->
  <div class="dropdown">
    <div class="dropbtn">{{ request.GET.hardware_filter|default:"Hardware"}}</div>
    <div class="dropdown-content">
      {% if request.GET.hardware_filter %}
        <button name="hardware_filter" type="submit" value="">All</button>
      {% endif %}
      {% for hardware in hardware_profiles %}
        {% if request.GET.hardware_filter != hardware.name%}
          <button name="hardware_filter" type="submit" value="{{hardware.name}}">{{hardware.name}}</button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="dropdown">
    <div class="dropbtn">{{ request.GET.simulator_filter|default:"Simulator"}}</div>
    <div class="dropdown-content">
      {% if request.GET.simulator_filter %}
        <button name="simulator_filter" type="submit" value="">All</button>
      {% endif %}
      {% for simulator in simulator_profiles %}
        {% if request.GET.simulator_filter != simulator.name%}
          <button name="simulator_filter" type="submit" value="{{simulator.name}}">{{simulator.name}}</button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div id="graph_container">
  <canvas id="graph_canvast"></canvas>
</div>
{{ graph_data|json_script:"grap_data_container" }}
<script>
  const graph_data = JSON.parse(
    document.getElementById('grap_data_container').textContent
  );

  const config = {
    type: 'line',
    data: {
      labels: graph_data.labels,
      datasets: graph_data.data
    },
    options: {
      responsive: true,
      scales: {
        x: {
          title: graph_data.x_axis
        },
        y: {
          title: graph_data.y_axis,
          type: graph_data.scale_type,
        }
      },
      plugins : {
        legend:{
          position : 'top'
        },
      },
      elements : {
        line : {
          tension : 0.2
        },
        point : {
          radius : 5
        }
      }
    }
  }

  console.log(graph_data)
  

  new Chart(
    document.getElementById("graph_canvast"),
    config
  )
</script>
{% endblock %}
