#hardware_container {
  overflow: auto;
  width: 40em;
}

#hardware_search {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hardware_entry {
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new_hardware_div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#hardware_search input,
#new_hardware_div input {
  width: 100%;
  height: 4em;
}

#no_profiles {
  text-align: center;
  font-size: 1.6em;
  font-weight: 2em;
}


#hardware_name,
#hardware_description,
#hardware_connection {
  margin-bottom: 2em;
}

#hardware_description div input,
#hardware_description div textarea {
  width: 100%;
  height: 4em;
}


#hardware_description textarea{
  height: 15em;
  resize: none;
  overflow: auto;
}

#hardware_button {
  width: 100%;
}

.hardware_entry .icon_button:hover {
  transition-duration: 0.2s;
  color: red;
}

#button_array {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button_array button,
#button_array a {
  width: 10em;
}

#hardware_totp {
  margin: 2em 0;  
}