{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'account.css' %}">
{%endblock%}

{% block content %}
<form action="/account" method="get" id='account_search'>
  {% csrf_token %}
  <input type="text" name='search' value={{request.GET.search}}>
  <button type="submit"><span class="material-symbols-outlined">search</span></button>
</form>
<div id='account_container'>
  {%for account in accounts %}
  <form action="delete/"  class='account_entry' method='post'>
    {% csrf_token %}
    <p>{{ account.identifier }}</p>
    <button class='icon_button' name="admin_id" value={{account.uid}}><span class="material-symbols-outlined">delete</span></button>
  </form>  
  {% endfor %}
</div>
<form action="add/" method="post" id='new_account_div'>
  {% csrf_token %}
  <input name="admin_ident"></input>
  <button type="submit"><span class="material-symbols-outlined">add</span></button>
</form>
{% endblock %}
