{% extends "core.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'account.css' %}">
{%endblock%}

{% block content %}
<div id='account_search'>
  <input></input>
  <button><span class="material-symbols-outlined">search</span></button>
</div>
<div id='account_container'>
  {%for name in accounts %}
  <div class='account_entry'>
    <p>{{ name }}</p>
    <button class='icon_button'><span class="material-symbols-outlined">delete</span></button>
  </div>  
  {% endfor %}
</div>
<div id='new_account_div'>
  <input></input>
  <button><span class="material-symbols-outlined">add</span></button>
</div>
{% endblock %}
